<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <div>
    <h1>
        Index
    </h1>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed turpis sit amet 
    tellus convallis tincidunt quis ut massa. Phasellus maximus orci quis mauris tincidunt, ut tempor turpis 
    tincidunt. Curabitur vestibulum nunc consequat venenatis ultrices. Aliquam eget congue risus, in imperdiet urna. 
    Vestibulum varius velit risus, non luctus arcu placerat vel. In hac habitasse platea dictumst. Pellentesque vitae 
    justo volutpat, euismod ligula quis, posuere nibh.
    </p>
    
  </div>

</body>
</html>